body{
  font-family: "Century Gothic", CenturyGothic,  sans-serif;
  text-align: justify;
  background-color:#3AAFA9;
  color: #17252A;
  font-weight: normal;
  font-size: 18px;
}

h1{
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Futura', 'Raleway' sans-serif;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  color: #FEFFFF;
}
h2{
  text-align: left;
  color: #FEFFFF;
  font-family: 'Copperplate', 'Montserrat', cursive;
  margin-bottom: 10px;
}
h3, h4{
  text-align: left;
  color:#DEF2F1;
  font-family: 'Copperplate', 'Montserrat', cursive;
  margin-bottom: 10px;
}

a:visited{
  color:#000000;

}
a:link{
  color: #59253A;
}

ul{
  list-style-type: disc;
}
